* {
  box-sizing:border-box;
}

body {
  background: #2d2d2d;
  color: #bbd5f9;
  font-family: 'Roboto';
}

button {
  outline:none;
}

.greatnesses a,
.greatnesses a:visited {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: 2s;
}

a:hover {
  font-size: 20px;
  color: #fff;
}

.align-center {
  text-align:center;
}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  text-align: center;
}

header ul {
  padding:0px;
}

header ul li {
  display: inline-block;
  margin: 30px 0;
  padding: 0 10px;
}

header a:link {
  color: #e5e3e8;
  text-decoration: none;
}

header a:visited {
  color: #e5e3e8;
  text-decoration: none;
}

header a:hover {
  color: rgba(229, 227, 232, .4);
  text-decoration: none;
}

#shadow-top {
    box-shadow: 0px 3px 10px #232323;
}

.goaway {
  margin-top: 40px;
}

.benice {
  padding: 15px;
  background-color: #ccbcf2;
  border-radius: 30px;
  transition: 1.5s;
}

.benice:hover {
  background-color: white;
}

/* .generic-margin {
  margin-bottom: 270px;
} */

.button-wrap {
  text-align: center;
  margin-top: 270px;
}

.button {
  padding: 20px;
  text-decoration: none;
  letter-spacing: 10px;
  color: #bbd5f9;
  font-size: 40px;
  font-weight: 100;
  border-radius: 8px;
  transition: 2s;
}

.button:hover {
  letter-spacing: 80px;
  margin-left: 80px;
  color: #f2f7ff;
}
